[submodule "contrib/libdelorean"]
	path = contrib/libdelorean
	url = https://github.com/eepp/libdelorean
[submodule "contrib/babeltrace"]
	path = contrib/babeltrace
	url = git://git.efficios.com/babeltrace.git
